<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- For adding Bootstrap in you HTML file -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <title>Details</title>
</head>

<body>
<!-- Navigation -->
<div class="container">
    <nav th:replace = "navbar.html :: navigation" ></nav>
</div>
<br>
<!-- CONTENT BEGIN-->

<div class="container">
    <h4>Details for:</h4>
    <table class="table ">
        <thead>
        <tr>
            <th scope="col-1" width="5%">Id:</th>
            <th scope="col-1" width="5%" th:text="${ id }"></th>
            <th scope="col"   width="5%">Name:</th>
            <th scope="col"   width="85%"th:text="${ name }"></th>
        </tr>
        </thead>
    </table>
    <!-- Get back button -->
    <a th:href="@{/customer}" class="btn btn-outline-info btn-sm mb-3 mr-0 float-right">Back to customer list</a>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Street</th>
            <th>ZipCode</th>
            <th>City</th>
            <th>HomePhone</th>
            <th>Mobile</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="details : ${detailList}">
            <td th:text="${details.get().getDetailsId()}" width="5%"></td>
            <td th:text="${details.get().getStreet()}"    width="20%"></td>
            <td th:text="${details.get().getZipCode()}"   width="20%"></td>
            <td th:text="${details.get().getCity()}"      width="20%"></td>
            <td th:text="${details.get().getHomePhone()}" width="15%"></td>
            <td th:text="${details.get().getMobile()}"    width="15%"></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- CONTENT END -->

<!-- Footer -->
<div class="container">
    <footer th:replace = "footer.html :: footer"></footer>
</div>

</body>
</html>