<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- For adding Bootstrap in you HTML file -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <title>Footer</title>
</head>
<body>

<footer th:fragment="footer" class="footer fixed-bottom">
    <div class="container border-top-1 border-dark " style="background-color: white" >
        [ &#169; Mattias Andersson ]
        <a href="mailto:neonithe@gmail.com"> [ neonithe@gmail.com ]</a>
        <a href="https://github.com/neonithe"> [ GIT ]</a>
    </div>

</body>
</html>