<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- For adding Bootstrap in you HTML file -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <title>Start Page</title>
</head>
<body>
<!-- Navigation -->
<div class="container">
    <nav th:replace = "navbar.html :: navigation" ></nav>
</div>
<br>
<!-- CONTENT BEGIN-->

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Annotations</h3>
            <hr>
            <h4>Basic</h4>
            <b>@Bean</b> - indicates that a method produces a bean to be<br> managed by Spring.<br><br>
            <b>@Service</b> - indicates that an annotated class is a service<br> class.<br><br>
            <b>@Repository</b> - indicates that an annotated class is a <br>repository, which is an abstraction of data access and storage.<br><br>
            <b>@Configuration</b> - indicates that a class is a configuration<br> class that may contain bean definitions.<br><br>
            <b>@Controller</b> - marks the class as web controller, capable <br>of handling the requests.<br><br>
            <b>@RequestMapping</b> - maps HTTP request with a path to a <br>controller method.<br><br>
            <b>@Autowired</b> - marks a constructor, field, or setter method<br> to be autowired by Spring dependency injection.<br><br>
            <b>@SpringBootApplication</b> - enables Spring Boot autoconfiguration<br> and component scanning.<br><br>
            <hr>
            <h4>MVC</h4>
            @Controller<br>
            @RequestMapping<br>
            @PathVariable<br>
            @RequestParam<br>
            @ModelAttribute<br>
            @RequestBody and @ResponseBody<br>
            @RequestHeader and @ResponseHeader<br>
            <hr>
            <h4>Spring boot</h4>
            @SpringBootApplication<br>
            @EnableAutoConfiguration<br>
            <hr>
            <h4>Hibernate</h4>
            @Entity<br>
            @Table<br>
            @Column<br>
            @Id<br>
            @GeneratedValue<br>
            @Version<br>
            @OrderBy<br>
            @Transient<br>
            @Lob<br>
            @OneToOne<br>
            @ManyToOne<br>
            @OneToMany<br>
            @ManyToMany<br>
            @PrimaryKeyJoinColumn<br>
            @JoinColumn<br>
            @JoinTable<br>
            @MapsId	import<br>
            @Inheritance<br>
            @DiscriminatorColumn<br>
            @DiscriminatorValue<br>
            <hr>
            <br>
        </div>
        <div class="col-6">
            <h3>My problems to fix</h3>
            <hr>
            Don't get the update to work. I need to find a way to solve the problem<br>
            that there is a ID connected to the information, so I can save to customer.<br>
            Not create a new one.<br>
            <hr>
            <ul>
                <li>Update</li>
                <li><s>Active??</s></li>
                <li><s>Search</s></li>
                <li><s>Sort</s></li>
                <li><s>Delete</s></li>
                <li><s>Create join, and dto</s></li>
                <li><s>Setup DB</s></li>
                <li><s>Fix POM</s></li>
            </ul>
        </div>
    </div>
</div>

<!-- CONTENT END -->

<!-- Footer -->
<div class="container">
    <footer th:replace = "footer.html :: footer"></footer>
</div>

</body>
</html>