<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- For adding Bootstrap in you HTML file -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <title>Start Page</title>
</head>
<body>
<!-- Navigation -->
<div class="container">
    <nav th:replace = "navbar.html :: navigation" ></nav>
</div>
<br>
<!-- CONTENT BEGIN-->

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Annotations</h3>
            <hr>
            <h4>Basic</h4>
            @Bean - indicates that a method produces a bean to be managed by Spring.<br>
            @Service - indicates that an annotated class is a service class.<br>
            @Repository - indicates that an annotated class is a repository, which is an abstraction of data access and storage.<br>
            @Configuration - indicates that a class is a configuration class that may contain bean definitions.<br>
            @Controller - marks the class as web controller, capable of handling the requests.<br>
            @RequestMapping - maps HTTP request with a path to a controller method.<br>
            @Autowired - marks a constructor, field, or setter method to be autowired by Spring dependency injection.<br>
            @SpringBootApplication - enables Spring Boot autoconfiguration and component scanning.<br>
            <hr>
            <h4>MVC</h4>
            @Controller<br>
            @RequestMapping<br>
            @PathVariable<br>
            @RequestParam<br>
            @ModelAttribute<br>
            @RequestBody and @ResponseBody<br>
            @RequestHeader and @ResponseHeader<br>
            <hr>
            <h4>Spring boot</h4>
            @SpringBootApplication<br>
            @EnableAutoConfiguration<br>
            <hr>
            <h4>Hibernate</h4>
            Annotation<br>
            @Entity<br>
            @Table<br>
            @Column<br>
            @Id<br>
            @GeneratedValue<br>
            @Version<br>
            @OrderBy<br>
            @Transient<br>
            @Lob<br>
            Hibernate<br>
            @OneToOne<br>
            @ManyToOne<br>
            @OneToMany<br>
            @ManyToMany<br>
            @PrimaryKeyJoinColumn<br>
            @JoinColumn<br>
            @JoinTable<br>
            @MapsId	import<br>
            Hibernate<br>
            @Inheritance<br>
            @DiscriminatorColumn<br>
            @DiscriminatorValue<br>
            <hr>
            <br>
        </div>
        <div class="col-6">
            <h3>My problems to fix</h3>
            <hr>
            Don't get the update to work. I need to find a way to solve the problem<br>
            that there is a ID connected to the information, so I can save to customer.<br>
            Not create a new one.<br>
            <hr>
            <ul>
                <li>Update</li>
                <li><s>Active??</s></li>
                <li><s>Search</s></li>
                <li><s>Sort</s></li>
                <li><s>Delete</s></li>
                <li><s>Create join, and dto</s></li>
                <li><s>Setup DB</s></li>
                <li><s>Fix POM</s></li>
            </ul>
        </div>
    </div>
</div>

<!-- CONTENT END -->

<!-- Footer -->
<div class="container">
    <footer th:replace = "footer.html :: footer"></footer>
</div>

</body>
</html>