<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- For adding Bootstrap in you HTML file -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <title>Search</title>
</head>

<body>
<!-- Navigation -->
<div class="container">
    <nav th:replace = "navbar.html :: navigation" ></nav>
</div>
<br>
<!-- CONTENT BEGIN-->

<div class="container">
    <div>
        <form action="#" th:action="@{/customer/search}" method="GET">

            <input type="text" th:name="input"
                   class="form-control mb-2 col-12" placeholder="Search">

            <button type="submit" class="btn btn-info col-2">Search</button>

        </form>
    </div>
    <br>
    <div>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Registration date</th>
                <th>Active</th>
                <th>Deacivate</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${resultvalue}">
                <td th:text="${customer.getCustomerId()}"   width="5%"></td>
                <td th:text="${customer.getName()}"         width="20%"></td>
                <td th:text="${customer.getEmail()}"        width="20%"></td>
                <td th:text="${customer.getRegDate()}"      width="20%"></td>
                <td th:text="${customer.isActive()}"        width="5%"></td>
                <td width="5%">

                    <!-- Deactivate button - get details about customer -->
                    <a th:href=" @{ /customer/active( customerId = ${ customer.getCustomerId() } ) } "
                       class="btn btn-outline-warning btn-sm">
                        (De)Activate
                    </a>

                </td>
                <td width="5%">

                    <!-- Details button - get details about customer -->
                    <a th:href=" @{ /customer/getdetails( customerId = ${ customer.getCustomerId() } ) } "
                       class="btn btn-outline-info btn-sm">
                        Details
                    </a>

                </td>
                <td width="5%">

                    <!-- Update button - get details about customer -->
                    <a th:href=" @{ /customer/update( customerId = ${ customer.getCustomerId() } ) } "
                       class="btn btn-outline-info btn-sm">
                        Update
                    </a>

                </td>
                <td width="5%">

                    <!-- Delete button - get details about customer -->
                    <a th:href=" @{ /customer/delete( customerId = ${ customer.getCustomerId() } ) } "
                       class="btn btn-outline-danger btn-sm">
                        Delete
                    </a>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- CONTENT END -->

<!-- Footer -->
<div class="container">
    <footer th:replace = "footer.html :: footer"></footer>
</div>

</body>
</html>